table{
    color :white;
    background-color: rgba(29, 44, 55, 1);
    border-collapse: collapse;
    margin: auto;
    width: 60%;
}
.time{
    text-align: center;
}
.rank{
    text-align: center;
}
.player{
    width: 30%;
}
tbody > tr:nth-child(even){
    background: rgba(0, 0, 0, 0.5);
}

tbody > tr:nth-child(odd){
    background: rgba(0, 0, 0, 0);
}

tbody > tr:nth-child(1){
    color : rgb(255, 255, 26) ;
}
tbody > tr:nth-child(2){
    color : rgb(208, 218, 233) ;
}
tbody > tr:nth-child(3){
    color : rgb(255, 178, 68) ;
}
td{
    padding: 5px;
}