table {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
    margin-left: 10px;
    width: 50%;
}

.player {
    width: 30%;
}

.link, .time {
    text-align: center;
}

thead {
    background: rgba(0, 0, 0, 1);
}

thead>tr>th:nth-child(2) {
    text-align: start;
    padding-left: 5px;
}


tbody>tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.8);
}

tbody>tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.5);
}

tbody>tr:nth-child(1) {
    color: rgb(255, 255, 26);
}

tbody>tr:nth-child(2) {
    color: rgb(208, 218, 233);
}

tbody>tr:nth-child(3) {
    color: rgb(255, 178, 68);
}

td {
    padding: 5px;
}

.fa-twitch {
    color: #6441a5;
    font-size: 20px;
}

.fa-youtube {
    color: #FF0000;
    font-size: 20px;
}

.fa-video {
    font-size: 20px;
}

.fa-image {
    font-size: 20px;
}

.noRun {
    background: rgba(0, 0, 0, 0.5)
}

th {
    top: 0;
    position: sticky;
    background: black;
}

tr>td:first-of-type {
    width: 5%;
    padding: 0 10px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    #desktop {
        display: grid;
    }
}